    <div>
        @{ 
            
            
            
            foreach (var Albomssss in Model)
            {
                <div>
                    <p>Цена: @Albomssss.price</p>
                    <p>Год выпуска: @Albomssss.yearRelise</p>
                    <p>название альбома: @Albomssss.titleAlbom</p>
                    <p>Автор: @Albomssss.author</p>
                    <p>Издание: @Albomssss.publication</p>
                    <p> лэйбл: @Albomssss.label</p>
                    <p>Место записи: @Albomssss.label</p>
                    <p>_________________________________________________________________________</p>

                </div>
                }
            }

    </div>
